{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="block-center">
	<form action="app" method="post" enctype="multipart/form-data" class="text-center">
	  <label class="control-label">Select File</label>
	  <input id="imgfile" type="file" accept="image/*" class="file-loading">
	  <script>
	  $(document).on('ready', function() {
	    $("#imgfile").fileinput({
              previewFileType: "image",
	      browseClass: "btn btn-success",
	      browseLabel: "Pick Image",
	      browseIcon: "<i class=\"glyphicon glyphicon-picture\"></i> ",
	      removeClass: "btn btn-danger",
	      removeLabel: "Delete",
	      removeIcon: "<i class=\"glyphicon glyphicon-trash\"></i> ",
	      uploadClass: "btn btn-info",
	      uploadLabel: "Upload",
	      uploadIcon: "<i class=\"glyphicon glyphicon-upload\"></i> "
	    });
	  });
	  </script>
	</form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
